In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
cur_path = '/Users/sonalichaudhari/Desktop/ADS_Project/Data'

In [4]:
d1 = pd.read_csv(cur_path+'/Data2016.csv', low_memory=False)
d2 = pd.read_csv(cur_path+'/Data2017.csv', low_memory=False)

df = pd.concat([d1,d2])

In [5]:
df.shape

(9731742, 32)

In [6]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'UniqueCarrier', 'AirlineID', 'TailNum', 'FlightNum', 'OriginAirportID',
       'Origin', 'Dest', 'CRSDepTime', 'DepTime', 'DepDelayMinutes',
       'DepDel15', 'CRSArrTime', 'ArrTime', 'ArrDelayMinutes', 'ArrDel15',
       'CRSElapsedTime', 'ActualElapsedTime', 'DestAirportID',
       'OriginCityName', 'OriginState', 'OriginStateName', 'DestCityName',
       'DestState', 'DestStateName', 'Cancelled', 'Status'],
      dtype='object')

In [8]:
df[['Origin','Dest']]

        Origin Dest
0          DFW  DTW
1          DFW  DTW
2          DFW  DTW
3          DFW  DTW
4          DFW  DTW
5          DFW  DTW
6          DFW  DTW
7          DFW  DTW
8          DFW  DTW
9          DFW  DTW
10         DFW  DTW
11         DFW  DTW
12         DFW  DTW
13         DFW  DTW
14         DFW  DTW
15         DFW  DTW
16         DFW  DTW
17         DFW  DTW
18         DFW  DTW
19         DFW  DTW
20         DFW  DTW
21         DFW  DTW
22         DFW  DTW
23         DFW  DTW
24         DFW  DTW
25         DFW  DTW
26         DTW  DFW
27         DTW  DFW
28         DTW  DFW
29         DTW  DFW
...        ...  ...
4193567    LAS  JFK
4193568    BOS  MCO
4193569    MCO  BOS
4193570    BDL  FLL
4193571    RSW  BOS
4193572    RIC  MCO
4193573    MCO  RIC
4193574    LGA  FLL
4193575    PHL  FLL
4193576    FLL  PHL
4193577    RDU  BOS
4193578    JFK  RDU
4193579    RDU  JFK
4193580    BOS  DCA
4193581    MCO  JFK
4193582    TPA  BOS
4193583    BOS  DEN
4193584    DEN  BOS
4193585    ATL  BOS
4193586    BOS  ATL
4193587    BUF  JFK
4193588    EWR  FLL
4193589    LGB  SEA
4193590    SEA  LGB
4193591    BOS  ORD
4193592    ORD  BOS
4193593    JFK  LGB
4193594    JAX  FLL
4193595    FLL  JAX
4193596    PBI  BOS

[9731742 rows x 2 columns]

In [9]:
airport = ['PHL','DFW','BOS','JFK','IAH','DEN','LGA','ORD','EWR','SFO']

In [ ]:
for i in airport:
    if (i in df.Origin.tolist() or)

In [12]:
'DFW' in df.Origin.tolist()

True

In [20]:
dt = df.head(200)

In [27]:
dt = df[df.Origin.isin(airport) | df.Dest.isin(airport)]

In [25]:
df.shape

(9731742, 32)

In [29]:
df.to_csv(cur_path+'/Top10Airports.csv')