In [63]:
import requests
import os
import zipfile
from urllib.request import urlopen
from bs4 import BeautifulSoup
from zipfile import ZipFile
from io import BytesIO
import shutil
import pandas as pd
import urllib.request
from lxml import html
import gzip
import io

In [250]:
url = 'https://www.wunderground.com/history/airport/SEA/2017/1/1/CustomHistory.html?dayend=31&monthend=10&yearend=2017&req_city=&req_state=&req_statename=&reqdb.zip=&reqdb.magic=&reqdb.wmo='
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page,"lxml")
table = soup.find("table", { "id" : "obsTable"})
column_headers = ['month','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','low','high','avg','high','Precip','Events']
player_data_02 = []  # create an empty list to hold all the data
data_rows = table.findAll('tr')
for i in range(len(data_rows)):  # for each table row
    player_row = []  # create an empty list for each pick/player

    # for each table data element from each table row
    for td in data_rows[i].findAll('td'):
        
        # get the text content and append to the row 
        td_text=td.get_text().replace("\n"," ")
        td_text_two=td_text.replace("\t"," ")
        if(td_text_two.text is 'Apr')
        player_row.append(td_text_two)        

    # then append each 
    player_data_02.append(player_row)

In [251]:
column_headers

['month',
 'high',
 'avg',
 'low',
 'high',
 'avg',
 'low',
 'high',
 'avg',
 'low',
 'high',
 'avg',
 'low',
 'high',
 'avg',
 'low',
 'high',
 'avg',
 'high',
 'Precip',
 'Events']

In [252]:
df = pd.DataFrame(player_data_02,columns=column_headers)

In [262]:
df2 = df.iloc[1:]

In [292]:
 df2

,date,high,Temp,low,high,Dew_Point,low,high,Humidity%,low,...,Sea_Level_Press,low,high,Visibility,low,high,Wind,high,Precip,Events
1,Jan,high,avg,low,high,avg,low,high,avg,low,...,avg,low,high,avg,low,high,avg,high,sum,
2,1,82,78,73,75,75,72,100,95,78,...,29.80,29.77,5,4,1,10,2,-,1.38,Rain
3,2,86,80,73,78,74,72,100,89,70,...,29.78,29.73,6,5,2,14,3,-,0.98,Rain
4,3,85,78,71,76,74,70,100,89,70,...,29.77,29.71,6,5,2,55,6,-,0.12,Rain
5,4,78,75,72,75,74,72,100,97,89,...,29.77,29.71,6,4,0,7,3,-,1.97,Rain
6,5,83,78,73,77,74,73,100,92,74,...,29.77,29.71,6,4,1,34,3,18,0.87,Rain
7,6,86,80,73,79,75,73,100,89,70,...,29.75,29.68,6,5,2,10,3,-,0.20,Rain
8,7,85,80,75,77,76,74,100,91,74,...,29.72,29.65,6,4,1,55,3,-,0.20,"Rain , Thunderstorm"
9,8,87,80,73,79,75,72,100,90,66,...,29.73,29.68,6,5,1,18,4,33,0.71,Rain
10,9,86,80,74,77,76,75,100,90,70,...,29.74,29.68,6,5,1,12,3,23,0.28,Rain
11,10,89,82,75,79,76,75,100,84,55,...,29.76,29.68,6,6,3,9,3,-,0.03,Rain
12,11,91,83,75,79,76,73,100,81,56,...,29.77,29.70,6,6,6,10,3,-,0.00,
13,12,88,82,75,77,74,70,100,80,49,...,29.77,29.68,6,5,1,68,4,-,0.04,Rain
14,13,88,81,74,77,74,72,94,82,58,...,29.76,29.71,6,6,3,7,3,-,0.00,Rain
15,14,86,80,74,76,74,72,100,85,59,...,29.81,29.77,6,6,2,10,3,-,0.08,Rain
16,15,88,80,73,76,74,71,100,78,52,...,29.82,29.74,6,6,5,13,5,-,0.00,Rain
17,16,88,81,74,77,74,73,100,80,52,...,29.80,29.74,6,6,2,72,5,24,0.20,Rain
18,17,90,82,74,77,75,70,100,79,52,...,29.82,29.76,6,6,5,7,3,-,0.00,
19,18,88,82,75,77,75,72,100,82,57,...,29.87,29.80,6,6,4,8,2,-,0.02,Rain
20,19,89,81,73,77,74,72,100,85,50,...,29.87,29.80,6,5,3,10,3,-,0.39,"Rain , Thunderstorm"
21,20,88,80,72,75,74,71,100,81,55,...,29.84,29.77,6,6,6,10,3,-,0.00,
22,21,87,80,74,77,75,73,100,90,65,...,29.86,29.80,6,5,2,7,3,-,0.55,"Rain , Hail , Thunderstorm"
23,22,87,78,70,77,75,73,100,88,62,...,29.89,29.83,6,5,1,8,3,-,0.04,"Rain , Thunderstorm"
24,23,87,80,72,77,75,72,100,85,58,...,29.87,29.80,6,6,5,13,3,-,0.02,
25,24,88,81,74,77,74,73,100,85,59,...,29.86,29.80,6,6,3,13,2,-,0.20,Rain
26,25,83,78,73,77,75,73,100,91,66,...,29.85,29.79,6,4,2,13,3,-,2.24,Rain
27,26,79,76,73,75,74,72,100,97,84,...,29.84,29.80,5,3,1,7,3,-,2.05,Rain
28,27,83,78,73,77,74,73,100,93,74,...,29.82,29.77,5,4,0,9,4,-,1.18,Rain
29,28,87,80,72,75,73,71,100,81,54,...,29.82,29.74,6,5,2,9,3,-,0.20,Rain
30,29,89,81,73,77,75,73,100,84,55,...,29.81,29.74,6,6,6,7,2,-,0.00,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,2,90,82,73,77,75,72,100,90,52,...,29.81,29.71,6,6,1,9,2,-,1.89,"Rain , Thunderstorm"
295,3,89,80,72,77,74,72,100,87,42,...,29.83,29.74,6,6,2,8,2,-,0.55,Rain
296,4,88,82,75,77,75,73,100,87,57,...,29.84,29.77,6,6,2,12,3,-,0.63,Rain
297,5,91,82,72,77,74,71,100,87,52,...,29.81,29.77,6,6,2,12,2,-,2.44,"Rain , Thunderstorm"
298,6,88,80,71,77,74,72,100,84,51,...,29.79,29.73,6,6,2,8,2,-,0.00,Thunderstorm
299,7,88,80,73,77,75,72,100,85,52,...,29.76,29.68,6,6,4,12,3,-,0.94,"Rain , Thunderstorm"
300,8,91,82,73,79,74,71,100,85,43,...,29.76,29.71,6,6,3,8,3,-,1.06,"Rain , Thunderstorm"
301,9,92,82,72,77,74,72,100,83,45,...,29.74,29.68,6,6,1,12,3,21,1.26,"Rain , Thunderstorm"
302,10,90,81,72,77,74,71,100,79,47,...,29.73,29.65,6,6,4,9,2,-,0.00,"Rain , Thunderstorm"
303,11,92,83,74,79,76,73,100,82,51,...,29.73,29.68,6,6,6,10,3,-,0.02,"Rain , Thunderstorm"
304,12,90,82,73,77,75,73,100,79,52,...,29.74,29.65,6,6,6,10,3,-,0.08,"Rain , Thunderstorm"
305,13,93,83,73,77,73,70,100,73,43,...,29.72,29.65,6,6,4,8,4,-,0.08,Rain
306,14,93,82,72,77,74,72,95,76,43,...,29.72,29.65,6,6,6,8,3,-,0.02,
307,15,86,80,75,77,74,73,100,89,70,...,29.77,29.71,6,5,1,13,4,-,0.47,"Rain , Thunderstorm"
308,16,88,80,73,77,74,72,100,89,60,...,29.79,29.71,6,4,1,13,4,24,1.65,Rain
309,17,89,81,73,77,74,72,100,82,58,...,29.75,29.68,6,6,4,8,3,-,0.00,
310,18,94,84,75,75,73,68,94,74,41,...,29.74,29.65,6,6,6,7,3,-,0.00,
311,19,93,84,74,75,72,68,94,69,38,...,29.76,29.71,6,6,6,17,5,24,0.00,
312,20,94,84,75,73,69,63,89,60,26,...,29.81,29.73,6,6,6,16,6,-,0.00,
313,21,93,82,72,75,72,68,94,73,37,...,29.83,29.77,6,6,6,12,3,-,0.00,
314,22,89,80,71,75,72,68,100,78,49,...,29.83,29.77,6,6,6,24,3,-,0.00,
315,23,91,82,73,77,74,70,94,76,47,...,29.84,29.80,6,6,4,12,4,-,0.02,Rain
316,24,90,82,73,77,74,71,100,78,47,...,29.86,29.80,6,6,6,6,2,-,0.00,
317,25,92,82,73,77,74,72,100,80,52,...,29.85,29.80,6,6,5,10,3,-,0.00,
318,26,91,83,75,77,74,71,94,73,49,...,29.84,29.74,6,6,6,9,2,-,0.00,
319,27,87,80,74,79,75,73,97,87,70,...,29.82,29.74,6,6,4,6,3,-,0.12,Rain
320,28,89,80,72,76,74,71,100,79,50,...,29.82,29.74,6,6,5,9,3,-,0.00,
321,29,89,82,74,77,75,73,100,85,58,...,29.82,29.74,6,5,2,9,3,-,0.91,Rain
322,30,86,80,75,77,75,73,100,86,63,...,29.81,29.74,6,6,4,8,3,-,0.12,"Rain , Thunderstorm"
323,31,90,82,73,76,74,72,100,79,50,...,29.78,29.71,6,6,6,9,3,-,0.00,

In [274]:
df2.columns = ['date', 'high', 'Temp', 'low', 'high', 'Dew_Point', 'low', 'high', 'Humidity%',
       'low', 'high', 'Sea_Level_Press', 'low', 'high', 'Visibility', 'low', 'high', 'Wind',
       'high', 'Precip', 'Events']

In [425]:
df3 = df2[['date','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']]

In [426]:
df3.columns = ['day','Temp','Dew_Point','Humidity%','Sea_Level_Press','Visibility','Wind' ,'Precip']

In [444]:
df3.day.values

array(['Jan', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', None, 'Feb',
       '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', None, 'Mar', '1', '2', '3', '4', '5', '6',
       '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '30', '31', None, 'Apr', '1', '2', '3', '4', '5', '6', '7', '8',
       '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
       None, 'May', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', None,
       'Jun', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', None, 'Jul', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', None, 'Aug', '1', '2',
       '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25',
       '26', '27', '28', '29', '30', '31', None, 'Sep', '1', '2', '3', '4',
       '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
       '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27',
       '28', '29', '30', None, 'Oct', '1', '2', '3', '4', '5', '6', '7',
       '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '30', '31'], dtype=object)

In [414]:
df3.insert(0, 'month','')

In [432]:
df3['day'].unique()

array(['Jan', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23', '24', '25', '26', '27', '28', '29', '30', '31', None, 'Feb',
       'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'], dtype=object)

In [445]:
#Not recofinzing it
"Jan" in df3['day']

False

In [407]:
#nOT WORKING
mon = [];
for index,row in df3.iterrows():
    i=0
    if row['day'] != 'Jan':
        mon.append('')
len(mon)

#for row in df3['day']:
#    i = 0
#    if row != 'Feb':
#        df3.loc[row,'month'] = '1'
#        i+1
#    if row =='feb':
#        break
#for row in df3['day']:
#    if row != 'Mar' and row != 'Jan':
#        df3[row]['month'] = '2'
#    if row =='Mar':
#        break
##for row in df3['day']:
#    if row != '4' and row != '1'and row != '2':
#        mon[i] = '3'
#    if row =='4':
#        break
#for row in df3['day']:
#    if row != '5' and row != '1'and row != '2'and row != '3':
#        mon[i] = '4'
#    if row =='5':
#        break
#for row in df3['day']:
#    if row != '6' and row != '1'and row != '2'and row != '3' and row != '4':
#        mon[i] = '5'
#    if mon[i] =='6':
#        break
#for row in df3['day']:
#    if row != '7' and row != '1'and row != '2'and row != '3' and row != '4'and row != '5':
#        mon[i] = '6'
#    if mon[i] =='7':
#        break
#for row in df3['day']:
#    if mon[i] != '8' and mon[i] != '1'and mon[i] != '2'and mon[i] != '3' and mon[i] != '4'and mon[i] != '5'and mon[i] != '6':
#        mon[i] = '7'
#    if mon[i] =='8':
#        break
#for row in df3['day']:
#    if mon[i] != '9' and mon[i] != '1'and mon[i] != '2'and mon[i] != '3' and mon[i] != '4'and mon[i] != '5'and mon[i] != '6' and mon[i] != '7':
#        mon[i] = '8'
#    if mon[i] =='9':
#        break
#for row in df3['day']:
#    if mon[i] != '10' and mon[i] != '1'and mon[i] != '2'and mon[i] != '3' and mon[i] != '4'and mon[i] != '5'and mon[i] != '6' and mon[i] != '7'and mon[i] != '8':
#        mon[i] = '9'
#    if mon[i] =='10':
#        break
#for row in df3['day']:
#    if  mon[i] != '1'and mon[i] != '2'and mon[i] != '3' and mon[i] != '4'and mon[i] != '5'and mon[i] != '6' and mon[i] != '7'and mon[i] != '8'and mon[i] != '9':
#        mon[i] = '10'
#

322

In [392]:
df3['month'].size

323

In [423]:
df3.iloc[0:32,0] = '1'
df3.iloc[33:61,0] = '2'

C:\Users\madhu\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\madhu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\madhu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [422]:
for index,row in df3.iterrows():
    print(df3[['month','day']])

    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28
321         29
322         30
323         31

[323 rows x 2 columns]
    month  day
1       1  Jan
2       1    1
3       1    2
4       1    3
5       1    4
6       1    5
7       1    6
8       1    7
9       1    8
10      1    9
11      1   10
12      1   11
13      1   12
14      1   13
15      1   14
16      1   15
17      1   16
18      1   17
19      1   18
20      1   19
21      1   20
22      1   21
23      1   22
24      1   23
25      1   24
26      1   25
27      1   26
28      1   27
29      1   28
30      1   29
..    ...  ...
294          2
295          3
296          4
297          5
298          6
299          7
300          8
301          9
302         10
303         11
304         12
305         13
306         14
307         15
308         16
309         17
310         18
311         19
312         20
313         21
314         22
315         23
316         24
317         25
318         26
319         27
320         28

In [424]:
df3

,month,day,Temp,Dew_Point,Humidity%,Sea_Level_Press,Visibility,Wind,Precip
1,1,Jan,avg,avg,avg,avg,avg,avg,sum
2,1,1,78,75,95,29.80,4,2,1.38
3,1,2,80,74,89,29.78,5,3,0.98
4,1,3,78,74,89,29.77,5,6,0.12
5,1,4,75,74,97,29.77,4,3,1.97
6,1,5,78,74,92,29.77,4,3,0.87
7,1,6,80,75,89,29.75,5,3,0.20
8,1,7,80,76,91,29.72,4,3,0.20
9,1,8,80,75,90,29.73,5,4,0.71
10,1,9,80,76,90,29.74,5,3,0.28
11,1,10,82,76,84,29.76,6,3,0.03
12,1,11,83,76,81,29.77,6,3,0.00
13,1,12,82,74,80,29.77,5,4,0.04
14,1,13,81,74,82,29.76,6,3,0.00
15,1,14,80,74,85,29.81,6,3,0.08
16,1,15,80,74,78,29.82,6,5,0.00
17,1,16,81,74,80,29.80,6,5,0.20
18,1,17,82,75,79,29.82,6,3,0.00
19,1,18,82,75,82,29.87,6,2,0.02
20,1,19,81,74,85,29.87,5,3,0.39
21,1,20,80,74,81,29.84,6,3,0.00
22,1,21,80,75,90,29.86,5,3,0.55
23,1,22,78,75,88,29.89,5,3,0.04
24,1,23,80,75,85,29.87,6,3,0.02
25,1,24,81,74,85,29.86,6,2,0.20
26,1,25,78,75,91,29.85,4,3,2.24
27,1,26,76,74,97,29.84,3,3,2.05
28,1,27,78,74,93,29.82,4,4,1.18
29,1,28,80,73,81,29.82,5,3,0.20
30,1,29,81,75,84,29.81,6,2,0.00
...,...,...,...,...,...,...,...,...,...
294,,2,82,75,90,29.81,6,2,1.89
295,,3,80,74,87,29.83,6,2,0.55
296,,4,82,75,87,29.84,6,3,0.63
297,,5,82,74,87,29.81,6,2,2.44
298,,6,80,74,84,29.79,6,2,0.00
299,,7,80,75,85,29.76,6,3,0.94
300,,8,82,74,85,29.76,6,3,1.06
301,,9,82,74,83,29.74,6,3,1.26
302,,10,81,74,79,29.73,6,2,0.00
303,,11,83,76,82,29.73,6,3,0.02
304,,12,82,75,79,29.74,6,3,0.08
305,,13,83,73,73,29.72,6,4,0.08
306,,14,82,74,76,29.72,6,3,0.02
307,,15,80,74,89,29.77,5,4,0.47
308,,16,80,74,89,29.79,4,4,1.65
309,,17,81,74,82,29.75,6,3,0.00
310,,18,84,73,74,29.74,6,3,0.00
311,,19,84,72,69,29.76,6,5,0.00
312,,20,84,69,60,29.81,6,6,0.00
313,,21,82,72,73,29.83,6,3,0.00
314,,22,80,72,78,29.83,6,3,0.00
315,,23,82,74,76,29.84,6,4,0.02
316,,24,82,74,78,29.86,6,2,0.00
317,,25,82,74,80,29.85,6,3,0.00
318,,26,83,74,73,29.84,6,2,0.00
319,,27,80,75,87,29.82,6,3,0.12
320,,28,80,74,79,29.82,6,3,0.00
321,,29,82,75,85,29.82,5,3,0.91
322,,30,80,75,86,29.81,6,3,0.12
323,,31,82,74,79,29.78,6,3,0.00